.NavBar {
  height: 66px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 175, 221, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 2rem;
  box-sizing: border-box;
  z-index: 99;
}

.NavBar nav {
  height: 100%;
}

.Logo {
  height: 100%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
