.SectionContainer {
  font-family: inherit;
  box-sizing: border-box;
  display: block;
  margin: 7rem auto;
  width: 95vw;
}

.CustomTriggerCSS,
.CustomTriggerCSSOpen {
  cursor: pointer;
}

.CustomInnerContentCSS {
  margin: 1rem 3rem;
  font-weight: 300;
  font-size: 0.9rem;
}

.QuestionContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #696969;
  margin: 0 1.5rem;
  padding: 0 0.8rem;
}

.Question {
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  text-transform: lowercase;
}

.ExpandMore,
.ExpandLess {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;
}

.NetworkingContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.NetworkingLink {
  text-decoration: none;
  color: #000;
}

@media (min-width: 600px) {
  .SectionContainer {
    width: 90vw;
  }

  .Question {
    font-size: 1.2rem;
  }
}

@media (min-width: 740px) {
  .SectionContainer {
    width: 85vw;
  }

  .QuestionContainer {
    margin: 0 1.8rem;
    padding: 0 1rem;
  }

  .Question {
    font-size: 1.5rem;
  }

  .ExpandMore,
  .ExpandLess {
    padding: 0 1rem;
  }

  .CustomInnerContentCSS {
    margin: 0 4rem;
    font-size: 1rem;
  }

  .CustomTriggerCSS,
  .CustomTriggerCSSOpen {
    font-size: 1rem;
  }
}

@media (min-width: 1234px) {
  .SectionContainer {
    max-width: 65vw;
  }
}
