.MainContainer {
  display: block;
  margin: 0;
  padding: 0;
}

.MainTitle {
  font-family: "Graphik Web", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-transform: lowercase;
  line-height: 1.1;
  font-stretch: normal;
  font-size: 6.7vw;
  text-align: center;
  margin: 0;
  margin-top: 0;
  padding-top: 1.5rem;
}

h3,
h4 {
  font-style: italic;
  margin-left: 2.5rem;
}

h3 {
  color: #f7590d;
  font-size: 1.2rem;
  padding-top: 1rem;
}

.MevoReasonsContainer {
  margin-left: 3rem;
}

.MevoReasonsContainer p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 0.9;
}

h4 {
  font-weight: 400;
  font-size: 1.2rem;
}

/* button {
  background-color: #f7590d;
  text-decoration: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  outline-style: none;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  padding: 0 16px;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

button:hover {
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
  background-color: rgb(247, 89, 13, .8);
  transition: background-color .2s ease-out;
} */

@media (min-width: 500px) {
  .Container {
    margin-left: 5rem;
  }

  .MainTitle {
    font-size: 5.5vw;
  }

  h3,
  h4 {
    font-size: 1.3rem;
    margin-left: 4.5rem;
  }

  .MevoReasonsContainer {
    margin-left: 6rem;
  }

  .MevoReasonsContainer p {
    font-size: 1rem;
    line-height: 1;
  }
}

@media (min-width: 700px) {
  .MainTitle {
    font-size: 5vw;
  }
  
  h3,
  h4 {
    font-size: 1.5rem;
    margin-left: 4.5rem;
  }
}