.ScrollToTop {
  position: fixed;
  bottom: 10px;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgb(247, 89, 13);
  z-index: 10;
  cursor: pointer;
  text-align: center;
  padding: 0;
  margin: 0;
}
.ArrowUpwardIcon {
  padding-top: 7px;
  color: #fff;
}

@media (min-width: 500px) {
  .ScrollToTop {
    bottom: 10px;
  }
}
