.LegendContainer {
    position: absolute;
    font-size: .9rem;
    max-width: 180px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 6px 8px;
    margin-bottom: 20px;
    line-height: 1.6;
    text-transform: lowercase;
    outline: none;
    background: rgb(240, 240, 240, 0.5);
    bottom: 30px;
    left: 10px;
    border-radius: 2px;
}

label {
    display: inline-block;
    width: 150px;
}

.MevoVehicles {
    display: flex;
}

.MevoVehicles img {
    position: relative;
    right: 5px;
    background-image: url('https://assets.mevo.co.nz/vehicles/pin-vehicle-available.png');
    background-size: cover;
}

.HomeZones {
    display: flex;
}
.HomeZones div {
    position: relative;
    top: 11px;
    width: 20%;
    height: 3px;
    background-color: #f7590d;
}

@media (min-width: 500px) {
    .LegendContainer {
        bottom: 28px;
        padding: 10px 15px;
        font-size: 1rem;
        line-height: 1.8;
        margin: 20px;
    }

    label {
        width: 160px;
    }

    .HomeZones div {
        top: 15px;
    }
}