@font-face{
  font-family: 'Graphik Web';
  src: url('../src/fonts/graphik-web.woff');
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Graphik Web",sans-serif;
  background: #f0f0f0;
}
