.MapContainer {
  display: flex;
}

.Map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.NavControlStyle {
  position: absolute;
  right: 10px;
  top: 10px;
}

.GeolocateStyle {
  float: left;
  margin: 10px;
  padding: 10px;
}

.Marker {
  background-image: url("https://assets.mevo.co.nz/vehicles/pin-vehicle-available.png");
  background-size: cover;
  width: 33px;
  height: 46px;
  overflow: hidden;
  position: absolute;
}
