

.Map {
  position: absolute;
  top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Marker {
  background-image: url('https://assets.mevo.co.nz/vehicles/pin-vehicle-available.png'); 
  background-size: cover; 
  width: 33px;
  height: 46px;
  overflow: hidden;
  position: absolute;
}

